@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Lufga;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 

  
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

  @font-face {
    font-family: 'Lufga';
    src: url('../public/lufga/LufgaLight.ttf') format('truetype');
  }
